@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600;700&family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@import "./tailwind-theme.css";
@import "./typography.css";

@layer base {
  * {
    border-color: var(--border);
    outline-color: var(--ring);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
